#shop-main-box{
  width: 1140px;
}

header, #header-icon, #header-search-box>div, #header-buttons-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 8px 20px;
}

#header-icon, #header-icon-img {
  width: 100px;
  height: 40px;
}

#header-search-box {
  border: 1px #DCDCE7 solid;
  border-radius: 8px;
  margin: 0 16px;
  min-width: 70%;
}

#product-search {
  width: 100%;
  border: none;
}

#voice-search-btn{
  padding: 0 4px;
}

#find-btn{
  padding: 0 16px;
}

.header-btn{
  font-weight: 400;
  font-size: 0.9em;
  background-color:unset;
}
